### CLT

In [ ]:
Salario = 1200
gasolina = 200
internet = 200
alimentos = 1500
agua = 100
luz = 300
condominio = 570
entreterimento = 1200

quanto_sobra = -2,870

In [ ]:
agua = 
luz = 
internet = 
salario = 
aluguel =